<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
   <connectionStrings>

   <add name="cgrConnStrings"

     connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.7)(PORT=1521))) (CONNECT_DATA=(SID = LUX))); User Id=logi;Password=lvxserver;"
     providerName="System.Data.OracleClient"/>

     <add name="cgrConnStringsXXX"

       connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.15)(PORT=1521))) (CONNECT_DATA=(SID = ORCL))); User Id=logi;Password=lvxserver;"
       providerName="Oracle.ManagedDataAccess.Client"/>
         
 </connectionStrings>

   <system.serviceModel>
      <bindings>
         <basicHttpsBinding>
            <binding name="BasicHttpsBinding_IService" />
         </basicHttpsBinding>
      </bindings>
      <client>
         <endpoint address="https://emision.ebi-pac.com/ws/obj/v1.0/Service.svc"
            binding="basicHttpsBinding" bindingConfiguration="BasicHttpsBinding_IService"
            contract="EBIPaWebServices.IService" name="BasicHttpsBinding_IService" />
      </client>
   </system.serviceModel>
</configuration>